@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: white;
  color: black; /* Ensure text is visible on a light grey background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-3xl font-bold tracking-tight md:text-4xl mb-4;
}
h2 {
  @apply text-2xl font-bold text-gray-800;
  background-color: #f5f7fa; /* light gray background */
  padding: 0.5rem 1rem; /* padding for spacing */
  border-radius: 0.25rem; /* rounded corners */
  display: inline-block; /* ensures the background wraps tightly around the text */
  margin-bottom: 1rem; /* margin for spacing */
}

h3 {
  @apply text-2xl font-bold mt-2 mb-2;
}

hr {
  @apply mb-2;
}

ul {
  @apply list-disc pl-5;
}
